<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>

<body>
<div class="container">

<a id="Logo" target="_top" href="/portfolios" ><img src="http://blog.flamingtext.com/blog/2013/06/26/flamingtext_com_1372210935_138590089.png" border="0" alt="RailStocks logo" title="RailStocks logo"></a>

<!-- <h1 id="Logo">RailStocks</h1> -->
<!-- <div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
  
</div> -->

 
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<!-- 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
<%= yield %>

  </div>
</body>
</html>
